<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
  <title>Danh Sách Đối Tác</title>-
<table class="table table-bordered">
  <thead class="table-light">
  <tr>
    <th>Mã đối tác</th>
    <th>Tên đối tác</th>
    <th>Email</th>
    <th>Số điện thoại</th>
    <th>Địa chỉ</th>
    <th>Trạng thái</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="dt : ${listDoiTac}">
    <td th:text="${dt.maDoiTac}">Mã</td>
    <td th:text="${dt.tenDoiTac}">Tên</td>
    <td th:text="${dt.email}">Email</td>
    <td th:text="${dt.soDienThoai}">SDT</td>
    <td th:text="${dt.diaChi}">Địa chỉ</td>
    <td th:text="${dt.trangThai}">Trạng thái</td>
    <td th:if="${dt.trangThai == 'Đang hợp tác'}">
      <a th:href="@{|/doi-tac/update-trang-thai/*{dt.maDoiTac}|}">Ngưng hợp tác</a>
    </td>
    <td th:if="${dt.trangThai == 'Ngưng hợp tác'}">
      <a th:href="@{|/doi-tac/update-trang-thai1/*{dt.maDoiTac}|}">Hợp tác</a>
    </td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>
